@media screen and (max-width: 768px) {
  header.grid .header {
    &-container h1 {
      font-size: $size-main*7;
    }

    &-btns .btn {
      padding: $size-main $size-main*8;
      font-size: $size-main*2.5;
    }
  }

  .photo {
    &-section {
      grid-template-columns: 1fr;
    }

    &-item:nth {
      &-child(1) {
        grid-column: 1;
      }

      &-child(4) {
        grid-column: 1;
      }

      &-child(5) {
        grid-column: 1;
        grid-row: 5;
      }

      &-child(8) {
        grid-column: 1;
        grid-row: 8;
      }
    }
  }

  .blog {
    &-main {
      grid-template-columns: 1fr;

      .btn-blog {
        grid-column: 1/2;
      }
    }

    &-item {
      &-content {
        height: $size-main*4;
        font-size: $size-main*2.5;
      }
    }

    &-item:nth {
      &-child(1) {
        grid-column: 1;
        grid-row: 1;
      }

      &-child(2) {
        grid-column: 1;
        grid-row: 2;
      }

      &-child(3) {
        grid-column: 1;
        grid-row: 3;
      }

      &-child(4) {
        grid-column: 1;
        grid-row: 4;
      }

      &-child(5) {
        grid-column: 1;
        grid-row: 5;
      }

      &-child(6) {
        grid-column: 1;
        grid-row: 6;
      }
    }
  }

  .frame {
    height: $size-width*2.5+px;
  }

  .footer {
    &-img img {
      width: $size-main*5;
      height: $size-main*5;
      margin: 2em 2em;
    }

    &-text span {
      font-size: $size-main*6;

      span {
        font-size: $size-main*4;
      }
    }
  }
}