$size-zero: 0px;
$size-main: 10px;
$size-width: 100;
$color-dark:black;
$color-gray:gray;
$color-blue: #4f71b5;
$color-yellow: #ffd800;
$color-orange: #00ff21;
$position: center;
$font-main:Oswald;
$font-second:sans-serif;
body{
  padding: $size-zero;
  margin: $size-zero;
  color: $color-dark;
}
.grid{
  display: grid;
}
header.grid{
  min-height: $size-width+vh;
  background-size: cover;
  background-image: url('../img/header.jpg');
  position: relative;
  background-position: $position;
  align-content: $position;
  &::before{
    content: "";
    background-color: $color-gray;
    top: $size-zero;
    bottom:$size-zero;
    left:$size-zero;
    right:$size-zero;
    opacity: 0.65;
    position: absolute;
  }
  .header-container{
    z-index: 1;
    color: lighten($color-dark, 100%);
    text-align: $position;
    padding: $size-main*6 $size-main*2;
    h1{
      font-size: $size-main*6;
      font-family: $font-main;
      text-transform: uppercase;
      margin: $size-main*2 $size-zero;
      line-height: 1.5;
    }
  }
}
@import "buttons";
@import "section-about";
@import "section-form";
@import "section-photo";
@import "section-blog";

.main-footer{
  padding:$size-main*6 $size-zero $size-main*4;
  background-color: darken($color-gray, 20%);
  text-align: $position;
  color: lighten($color-dark, 80%);
  font-family: $font-main;
}
.footer{
  &-img img {
    width: $size-main*3;
    height: $size-main*3;
    margin: 1em;
    transition: all 0.25s ease;
    &:hover {
      transform:scale(1.3);
    }
  }
  &-text span {
    font-size: $size-main*3;
    letter-spacing: $size-main/5;
    line-height: 1.5;
    display: block;
    span {
      font-size: $size-main*2;
      letter-spacing: $size-main/10;
    }
  }
}